
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @manager.full_name %></h1>
    <p>There are daily hours for you to review.</p>
    <p>Click here: <%= root_url %></p>
    <small>from mailer bot</small>
  </body>
</html>