<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h2>Request Overtime</h2>
      <div class="d-flex align-items-center mt-4">
        <div class="m-auto">
          <%= link_to 'Register Overtime', new_post_path, class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <%= render 'pending_audits' %>
    </div>
  </div>
</div>