<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">asdf</div>
  </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <%= render 'pending_audits' %>
    </div>
  </div>
</div>